body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.hint {
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .hint {
        font-size: 20px;
    }
}

img.hangmanImage {
    display: block;
    margin: 0 auto;
}

.endgame {
    background-color: lightblue;
}

ul.userLetterList {
    list-style-type: none;
    text-decoration: underline;
}

    ul.userLetterList li {
        float: left;
        padding: 0 10px;
        margin: 0 2px;
        font-size: 80px;
        text-decoration: underline;
    }


@media screen and (max-width: 767px) {
    ul.userLetterList li {
        padding: 0 5px;
        margin: 0 1px;
        font-size: 20px;
    }
}



ul.alphabitList {
    list-style-type: none;
}

    ul.alphabitList li {
        float: left;
        padding: 0 10px;
        margin: 7px 2px;
        background-color: chocolate;
    }

        ul.alphabitList li:hover {
            font-size: 20px;
        }

        ul.alphabitList li.used {
            text-decoration: line-through;
            background-color: darksalmon;
        }

