@model mphi_hangman.ViewModel.GameViewModel
    
@{
    ViewBag.Title = "Michael Phi's Hangman";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div>
                Please select a character:
                <ul class="alphabitList">
                    @foreach (var letter in Model.Alphabit)
                    {
                        <li data-letter="@letter">@letter</li>   
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
